*{
padding: 0;
box-sizing:border-box;}

.flex{
    display: flex;
   flex-direction: row;
   margin-top:200px;
   justify-content: center;
}

.flex div{
    width:200px;
    height:200px;}

.c{ background-color: coral;
padding-top: 95px;
padding-left: 95px;}

.i{background-color: chocolate;
flex-shrink: 2;
padding-top: 95px;
padding-left: 95px;}


.p{background-color: crimson;
flex-grow:15;
padding-top: 95px;
padding-left: 95px;}


.o{background-color:firebrick;
flex-grow: 1;
padding-top: 95px;
padding-left: 95px;}

.t{background-color: brown;
padding-top: 95px;
padding-left: 95px;}

.e{background-color: darkred;
padding-top: 95px;
padding-left: 95px;}

.a{
    display: flex;
    flex-direction: row;
    justify-content:center;
}

a{color:greenyellow;
display: flex;
margin-right: 25px;
}

a:hover{color: red;}

a:visited{color: purple;}

