*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    width: 1200px;
}

header{
background-color: blueviolet;
    height: 180px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.logo{
    background-color: rgb(158, 95, 13);
    width: 600px;
    height: 180px;
    float: left;
}

.logo1{
    width: 180px;
}

.logo1:hover{background-color: aqua;}

ul{
    background-color: brown;
    width: 560px;
    height: 100px;
    float: left;
    list-style: none;
    padding-top: 80px;
    
}

li{
    display: inline;
   padding-left: 95px;
   color: darkgoldenrod;
}

li:link{
    color: black;
}

li:hover{
    color: darkgrey;
}

main{
    background-color: rgb(128, 90, 1);
    height: 600px;
}

video{
    width: 600px;
    height: 600px;
    float: left;
    
}

h2{
    font-size: 25px;
    background-color: antiquewhite;
    width: 600px;
    height: 350px;
    float: right;
    text-align: center;
    padding-top: 250px;
}

span{color: brown;}

article{
    border: 2px solid;
    height: 80px;
    margin-top: 10px;
    text-align: center;
    padding-top: 70px;
    font-size: 20px;
}

.ideas{
    background-color: darkgoldenrod;
   height: 280px;
   margin-top: 10px;

}

.baner{
    width: 500px;
    float: left;
}
.baner2{
    width: 500px;
    float: right;
}