*{margin-left: 50px;
margin-right: 50px; }

body{
    background-image: url(img/aaa.jpg);
    background-size: cover;
}

h1{
    font-family:Georgia, 'Times New Roman', Times, serif ;
color: azure;
text-align: center;
}


h2{ color: azure;
font-family:Georgia, 'Times New Roman', Times, serif ;}

#t{
    float: right;
    font-family:Georgia, 'Times New Roman', Times, serif ;
}

.a
{ 

background-image:url(img/pixel-background-u2jnye2lgq0gv7h2.jpg); 
width: 400px; height: 150px;
float: left;
border: seagreen solid 2px;
padding-top:150px;
margin-bottom: 10px;


}

.v
{ 

background-image:url(img/pixel-background-u2jnye2lgq0gv7h2.jpg); 
width: 400px; height: 150px;
float: left;
border: seagreen solid 2px;
padding-top:150px;
margin-bottom: 10px;

}

.r{
    width: 810;
    height: 210px;
}

a{font-family: Georgia, 'Times New Roman', Times, serif;}

a:hover{color: darkcyan;}


