
 
*{
    text-align: center;
    margin: 0 auto;
    font-family: "Mountains of Christmas", serif;
    box-sizing: border-box;
}

.flex{display: flex;
flex-wrap: wrap;
justify-content: center;
}

body{ 

    border-style: dashed;
color: darkred;
}

#titulo{margin:35px ;
color: green;}



h6{color: black;}

h2{color: white;}

.nb{

border: darkred solid 2px;
width: 400px;
height: 200px;
margin: 8px;
padding: 60px;
}

.pi{

border: darkred solid 2px;
width: 400px;
height: 200px;
margin: 8px;

}
.rey{

border: darkred solid 2px;
width: 400px;
height: 200px;
margin: 8px;
padding: 60px;

}

.al{

border: darkred solid 2px;
width: 400px;
height: 200px;
margin: 8px;

}

.ra{

border: darkred solid 2px;
width: 400px;
height: 200px;
margin: 8px;

}

.noe{

border: darkred solid 2px;
width: 400px;
height: 200px;
margin: 8px;

}



.imag{width: 300x;
height: 197px;}

.nb{background: linear-gradient(red,green, white);}

.pi{background: linear-gradient(45deg, white,red 25% 85%, white);}

.rey{background: linear-gradient(90deg, green,white);}

.al{background: linear-gradient(360deg,red 0% 70%, green 80% 100%);}

.ra{background: linear-gradient(45deg,green 40%, red 40% 70%,white 70%);}

.noe{background: linear-gradient(90deg,green, white, red,green,white,red);}



p{color: black;}

.te{border: solid green ;
margin-top: 30px;
margin-bottom: 30px;}

.la:hover{color: white;}

footer:hover{background: linear-gradient(red,green);}

#titulo:hover{color: red;}

footer{padding-left: 110px;
padding-right: 110px;
padding-bottom: 20px;
padding-top: 20px;}