*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  background-color: rgb(115, 142, 146);
  
}

section{display: flex;
justify-content: center;
flex-wrap: wrap;}
 
h1{ color: rgb(38, 69, 70);
margin: 20px;}

.img{filter: blur(5px);
margin: 30px;}

.img:hover{filter: none;}

h2{margin: 20px;
color: darkcyan;}

footer{
  margin-bottom: 20px;
  color: rgb(46, 59, 83);
}