
img{
    width: 300px;
height: 300px;}


.contenedor{
    display: flex;
flex-flow:row nowrap;
justify-content: center;
margin-top: 100px;}


.caja{
    text-align: center;
margin: 12px;}


h2{
    font-family:"Story Script";
font-size: 40px;}


.ome{
background-color: coral;
width: 300px;}


p{
    font-family:"Roboto";
font-size: 30px;
color: darkslategrey;
text-align: center;}


.home{
    justify-content: center;
    display: flex;
flex-flow:row nowrap;
margin-top: 50px;}


a{text-decoration: none;}

.caja{filter: blur(5px);}

.caja:hover{filter: blur(0px);}