*{text-align: center;
justify-content: center;
box-sizing: border-box;
font-family: Arial, Helvetica, sans-serif;
}

h1{font-family: chewy;
margin-top: 30px;}

h4{font-family: Arial, Helvetica, sans-serif;
color:rgb(255, 51, 0) ;}

.el{background-color: rgb(255, 51, 0);
width: 100px;
height: 40px;
margin-left:100px;
margin-right:100px;
margin-top: 50px;
padding-top: 10px;}

.a{width: 150px;
height: 150px;
background-color: blue;
padding-top: 60px;
margin-top: 60px;
margin-left: 40px;
margin-right: 40px;
font-family: chewy;
color: white;}

.a:hover{transform: translate(15px, 15px);
background-color: white;
border: 2px solid blue;}


.am{width: 150px;
height: 150px;
background-color: yellow;
padding-top: 60px;
margin-top: 60px;
margin-left: 40px;
margin-right: 40px;
font-family: chewy;
color: rgb(0, 0, 0);}

.am:hover{transform: translate(15px, -15px);
background-color: white;
border: 2px solid yellow;
color: white;}

.v{width: 150px;
height: 150px;
background-color: green;
padding-top: 60px;
margin-top: 60px;
margin-left: 40px;
margin-right: 40px;
font-family: chewy;
color:white;}

.v:hover{transform: translate(-15px, -15px);
background-color: white;
border: 2px solid green;}


.r{width: 150px;
height: 150px;
background-color: palevioletred;
padding-top: 60px;
margin-top: 60px;
margin-left: 40px;
margin-right: 40px;
font-family: chewy;
color: white;}

.r:hover{transform: translate(-15px, 15px);
background-color: white;
border: 2px solid palevioletred;}



a{text-decoration:aquamarine;}

.mapa{
display: flex;
justify-content: center;
margin-top: 20px;
margin-bottom: 30px;

}

iframe{padding: 10px;
border: 2px solid orangered;}

footer{
display: flex;
justify-content: center;
flex-direction: column;}

#mer{width: 800px;}


/*FLEX*/

nav{ display: flex;
flex-wrap: nowrap;}

.int{display: flex;
flex-wrap: nowrap;}





