
*{justify-content: center;
box-sizing: border-box;}

body{background-color: black;}

h1{
font-family: Bitcount Single;
color: white;}

h5{font-family: Fjalla One;
color: white;}


header{display: flex;
flex-direction: column;
text-align: center;}

nav{display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;}

.t{background-color: yellow;
width: 200px;
height: 200px;}

.t:hover{background-image: url(img/gilda2.webp);
background-size: cover;}


.t p{font-size: 30px;
padding-left: 15px;
padding-top: 30px;}

.c{background-color: yellow;
border: 6px solid red;
width: 200px;
height: 200px;}

.t p{font-family:Bitcount Single ;}

footer{background-color: white;
display: flex;
border: solid 2px red;
text-align: center;
margin-top: 20px;}

footer p{ font-family:Fjalla One ;}

.sevill{display: flex;}


@media(orientation: landscape){

nav{flex-direction: row;}

.sevill{display: none;}
}

@media(orientation: portrait){

nav{flex-direction: column;}

nav div{margin-bottom: 15px;}

.c{background-color: olive;}

.t{background-color:olive ;}

footer p{display: none;
border: none;}

footer{border: none;}



}
